.mazegame {
	display: flex;
	justify-content: center;
	align-items: center;
}
canvas {
	margin-left: auto;
	margin-right: auto;
}
#game-canvas {
	background-color: antiquewhite;
	background-image: url(images/MapOfMaze-600x630.png);
	display: block;
	margin: 0 auto;
}
main {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 70%;
}
