@import "root.css";
/* Shared Stylings */
.modal {
	/* display: none; */
	position: fixed;
	z-index: 1;
	padding-top: 300px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		0deg,
		rgba(95, 173, 112, 1) 0%,
		rgba(175, 250, 255, 1) 56%
	);
}
.mod-container {
	position: relative;
	background-color: #ffffffb9;
	margin: auto;
	padding: 25px;
	border-radius: 7.5px;
	border: 1px solid #ffffff;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* Animation */
	animation-name: goUp;
	animation-duration: 0.9s;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.rounded {
	border-radius: 15px;
	padding: 8px 10px;
	text-align: center;
	border: 2px solid #c4c4c4;
	font-size: 1em;
}
.btn {
	background-color: #94daa3;
	font-weight: bold;
	color: #383838;
	width: 200px;
}
.btn:hover {
	background-color: #5fad70;
	cursor: pointer;
}
.column {
	flex-direction: column;
}
.row-center {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}

/* Some Animation for the modals */
@keyframes goUp {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* The Username Modal  */
#userModal {
	display: none;
}
#usernameTextBx {
	transition: 0.5s;
	font-family: "Figtree";
	padding: 8px 50px;
}
#usernameTextBx:focus {
	outline: none !important;
	border: 2px solid #87dae0;
	background-color: rgb(231, 248, 255);
}

/* The Main Menu Modal  */
#menuModal {
	padding-top: 250px;
	display: none;
}
img {
	width: 70px;
}
.logo-space {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	text-decoration: none;
}
#menu-title {
	font-family: "Abril Fatface", cursive;
	font-weight: 500;
	color: #4d4d4d;
	padding: 10px 0;
}
.menu-text {
	font-size: 1.5rem;
}
.game-title {
	font-size: 2.3rem;
}

/* The Controls Modal  */
#controlsModal {
	padding-top: 180px;
	display: none;
}
#controls-contain {
	margin: 15px 0px 25px 0px;
}
.controls-title {
	font-size: 1.6rem;
}
.con-text {
	font-size: 2.2rem;
	font-weight: bold;
}
.con-image {
	width: 45px;
}
.con-container {
	gap: 50px !important;
}
.control-info {
	font-size: 1.1rem;
}
#u-arrow {
	transform: rotate(90deg);
}
#r-arrow {
	transform: rotate(180deg);
}
#d-arrow {
	transform: rotate(270deg);
}
