@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Figtree:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	color: #4d4d4d;
	font-family: "Figtree", sans-serif;
	background: #5fad70;
	background: -moz-linear-gradient(0deg, rgba(95, 173, 112, 1) 0%, #affaff 56%);
	background: -webkit-linear-gradient(
		0deg,
		rgba(95, 173, 112, 1) 0%,
		rgba(175, 250, 255, 1) 56%
	);
	background: linear-gradient(
		0deg,
		rgba(95, 173, 112, 1) 0%,
		rgba(175, 250, 255, 1) 56%
	);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Figtree";
}

.main-screen {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 70%;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 1770px) {
	.nav-title {
		font-size: 120%;
	}
}
@media only screen and (max-width: 1550px) {
	.nav-title {
		font-size: 100%;
	}
}
@media only screen and (max-width: 992px) {
	.nav-title {
		font-size: 80%;
	}
}
